<!DOCTYPE html>
<html lang=ja>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="サンプルアプリケーション">
        <title>ログイン画面</title>
        <link rel="stylesheet" href="//localhost:8080/assets/style.css">
        <script type="text/javascript" src="login.js">
        </script>
    </head>
    <body onload="fieldChanged();">
        <h1>Hello</h1>
         <hr>
         <div align="center">
         <table>
             <form action="jump.html" method="post">
             <tr><th>User ID</th>
                 <td><input type="text" name="userID" value="" size="24" id="user_id" 
                            onkeyup="fieldChanged();" onchange="fieldChanged();"></td></tr>
             <br>
             <tr><th>Password</th>
                 <td><input type="password" name="password" value="" size="24" id="user_id"
                            onkeyup="fieldChanged();" onchange="fieldChanged();"></td></tr>
             <br>
             <br>
             <tr><td><button type="submit" value="login" id="login">login</button></td></tr>
             </form>    
         </table>
    </body>
</html>
