<!DOCTYPE html>
<html lang=ja>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="サンプルアプリケーション">
        <title>ログイン画面</title>
        <link rel="stylesheet" href="//localhost:8080/assets/style.css">
    </head>
    <body>
        <h1>Hello</h1>
         <hr>
         <div align="center">
         <table>
             <tr><th>User ID</th><td><input type="text" name="user_id" value="" size="24"></td></tr>
             <br>
             <tr><th>Password</th><td><input type="password" name="password" value="" size="24"></td></tr>
             <br>
             <br>
             <tr><td><button type="submit" name="login" value="login" onclick="location.href='localhost:8080/jump.html'">login</button></td></tr>
         </table>
    </body>
</html>
