<!DOCTYPE html>
<html lang=ja>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="サンプルアプリケーション">
        <title>ログイン画面</title>
        <link rel="stylesheet" href="//localhost:8080/assets/style.css">
    </head>
    <body>
        <h1>Hello</h1>
         <hr>
          <div align="center">
          <tr><th>User ID</th>
          <td><input type="text" name="user_id" value="" size="24"></td>
          </tr>
          <br>
          <tr><th>Password</th>
          <td><input type="password" name="password" value="" size="24"></td>
          </tr>
          <tr>
          <td colspan="2"><input type="submit" value="ログイン"></td>
          </tr>
    </body>
</html>
